body{
    margin-left:5%;
    margin-right:5%;
    line-height: 1.6;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

h1 {
    color: palevioletred;
    text-align:center ;    
    font-family: 'Abril Fatface';
    padding-top: 3%;
    margin-top: 2%;
    text-shadow: 3px 3px 2px black
}

h2{
    color: rgb(69, 0, 90);
    text-align:center ;    
    font-family: 'Abril Fatface';
    font-style: oblique;
    font-size: medium;
    text-shadow: 0px 0px 1px rgb(231, 231, 231)
    

    
    
}

h3 {
    color: purple;
    font-size: small;
}

 /* HOME */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:0; 
    font-size: 0.7rem;
    margin-top: 5%;
    background-color: white;
    position: sticky;
    top:10px;
           
}

a{
    color:yellowgreen;
    padding: 1%;
    text-decoration: none;
    
   
}

a:hover {
    color: black;
}


#manitas {
    width: 100%; 
    padding-top: 25px;  
    padding-bottom: 5px;
    

}

#Moonnight {
    width: 130px;
    
}

/*CONTACTO*/


#basedform {
    display: block;
    color: black;
    background-color: #C2E7D9;
    border: none;  
    margin: auto;  
     
}

fieldset {
    margin: auto;
    text-align: left;
}

input, textarea {
    opacity: 0.6;
    width: 100%;
    border-color: white;    
}

textarea {
    margin-top: 5%;
}


.button {
    border-color: palevioletred;
    color: black;
    background-color: palevioletred;
    opacity: 0.7;
    width: 20%;
    margin-top: 5px;
    margin-left: 40%;
}

/*BIOGRAFIA */



aside {
    display: flex;
    justify-content: center;
    
 }

#elena {
    width: 50%;
    height: 80%;
    border-radius: 30%;
    
    
}

ul {
    
    list-style-type: none;
}

#moon {
    background-image: url(./Imágenes/luna.png);
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;

} 

#love {
    background-image: url(./Imágenes/corazon.png);
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;

}

#graduation {
    background-image: url(./Imágenes/graduacion.jpg);
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;

}

 /* PORTFOLIO*/

 #section-media {
    text-align: center;
    background-color: #D4C5E2;
    height: 300px;
    margin-top: 5%;
    padding-top: 2%;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
 }

 .image, .video {
    width: 100px;
    height: 100px;
    background-color: #000;
   
    
    
 }

.image{
    height: 80px;
}

#section-audios {
    background-color: #D4C5E2;
    border-radius: 12%;
    display: block;
    padding-top: 1.5%;
    margin-top: 7%;
    text-align: center;

}



/*DICCIONARIO*/  

table {
   width: 100%;
   font-size: 0.7em;
   margin-top: 10%;
   background-image: url(./Imágenes/nn.png);
   background-size: 90%;
   opacity: 0.6;
   border-spacing: 0;
   
  
}

table:hover {
    opacity: 1;
    background-image: none;
}

tr, th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
   
}

#tabledata {
    padding-top: 9%;
}


/*FOOTER*/   
#pie {
    width: 50px;
    margin: auto;   

}
footer {
    font-size: small;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    

}

#footerletra {
    color: pink;
}

#footer_list {
    margin-left: 10%;
    justify-content: flex-start;
   
}


/*MEDIA QUERIES*/

@media (min-width:381px) and (max-width:445px){

    #section-audios {
        background-color: #D4C5E2;
        border-radius: 10%;
        display: flex;
        justify-content: space-around;
        padding-top: 1.5%;
        margin-top: 5%;
        flex-wrap: wrap;
    }


    #section-media {
        text-align: center;
        background-color: #D4C5E2;  
        height: 100%;      
        
    }

    .image {
        width: auto;
        height: 150px;

    }
    
    .video {
        width: auto;
        height: 100px;    
        
    }
 }

 @media (min-width:446px) { 

    footer {
        font-size:small;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        margin-top: auto;
        justify-content: space-around;
         }   

    

    #pie {
        width: 80px;         
    
    }

    #footer_list {
        display: flex;
        flex-direction: row;
       
    }

    #section-audios {
        background-color: #D4C5E2;
        border-radius: 10%;
        display: flex;
        justify-content: space-around;
        padding-top: 1.5%;
        margin-top: 5%;
        flex-wrap: wrap;
    }


    #section-media {
        text-align: center;
        background-color: #D4C5E2;  
        height: 100%;      
        
    }

    .image {
        width: auto;
        height: 150px;

    }
    
    .video {
        width: auto;
        height: 100px;    
        
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 100%;
        margin-top: 2%;
        background-color: white;
        position: sticky;
        top:10px;
     }

    #Moonnight {
        width: 50%;
        height: 100%;
    }


    h3 {
        font-size:medium;
    }

    aside{
        float: right;
        margin: 0;
        box-sizing:border-box;
    
    
    }
    #elena {
        height: 250px;
        width: 200px;
        
    }

    #me {
        float: left;
    }

   #manitas {
    width: 80%;
    margin-left: 10%;
   }

   table {
        width: 80%;
        height: 300px;
        margin-left: 10%;
        background-image: none;
        

   }

   th {
    padding-top: 2%;
    background-color: #e8d0ff;
    text-align: center;
    
   }

   td {
    padding-top: 2%;
    text-align: center;
   }

   #tabledata {

    padding-top: 5%;
    
   }

}