body{
    margin-left:5%;
    margin-right:5%;
    line-height: 1.6;
    font-family: 'Poppins';
    position: relative;
    height: 100%;
    
}

h1 {
    color: palevioletred;
    text-align:center ;    
    font-family: 'Abril Fatface';
    padding-top: 3%;
    margin-top: 2%;
}

h2{
    color: rgb(249, 163, 192);
    text-align:center ;    
    font-family: 'Abril Fatface';
    font-style: oblique;
    font-size: medium;
    
    
}

h3 {
    color: purple;
    font-size: small;
}

 /* HOME */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:0; 
    font-size: 0.7rem;
    margin-top: 5%;
           
}

a{
    color:yellowgreen;
    padding: 1%;
    text-decoration: none;
}

a:hover {
    color: black;
}


#manitas {
    width: 100%; 
    padding-top: 25px;  
    padding-bottom: 5px;
    

}

#Moonnight {
    width: 130px;
    
}

/*CONTACTO*/


#basedform {
    display: block;
    color: black;
    background-color: #C2E7D9;
    border: none;  
    margin: auto;  
     
}

fieldset {
    margin: auto;
    text-align: left;
}

input, textarea {
    opacity: 0.6;
    width: 100%;
    border-color: white;    
}

textarea {
    margin-top: 5%;
}


.button {
    border-color: palevioletred;
    color: black;
    background-color: palevioletred;
    opacity: 0.7;
    width: 20%;
    margin-top: 5px;
    margin-left: 40%;
}

/*BIOGRAFIA */



aside {
    display: flex;
    justify-content: center;
    
 }

#elena {
    width: 50%;
    height: 80%;
    border-radius: 30%;
    
    
}

ul {
    
    list-style-type: none;
}

#moon {
    background-image: url(./Imágenes/luna.png);
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;

} 

#love {
    background-image: url(./Imágenes/corazon.png);
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;

}

#graduation {
    background-image: url(./Imágenes/graduacion.jpg);
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;

}

 /* PORTFOLIO*/

 #section-media {
    text-align: center;
    background-color: #D4C5E2;
    height: 300px;
    margin-top: 5%;
    padding-top: 2%;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
 }

 .image, .video {
    width: 100px;
    height: 100px;
    background-color: #000;
    margin-top: 5%;
    
 }

.image{
    height: 80px;
}

 .media-image {
   
    padding-top: 40px;
    
 }


/* ESTO ES PARA EL MEDIA QUERIES DE PANTALLA GRANDE
#section-audios {
    background-color: #D4C5E2;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5%;
    margin-top: 5%;
    flex-wrap: wrap;
    


} */

#section-audios {
    background-color: #D4C5E2;
    border-radius: 12%;
    display: block;
    padding-top: 1.5%;
    margin-top: 7%;
    text-align: center;



}



/*DICCIONARIO*/  

table {
   width: 100%;
   font-size: 0.7em;
   margin-top: 10%;
   background-image: url(./Imágenes/nn.png);
   background-size: 90%;
   opacity: 0.6;
   border-spacing: 0;
   
  
}

table:hover {
    opacity: 1;
    background-image: none;
}

tr, th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
   
}

#tabledata {
    padding-top: 9%;
}


/*FOOTER*/   
#pie {
    width: 50px;
    margin: auto;   

}
footer {
    font-size: small;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 99%;

}

#footerletra {
    color: pink;
}

#footer_list {
    margin-left: 10%;
    text-align: center;
   
}
